button#btn1 {
    background: rgb(233, 248, 176);
    color: black;
}
button#btn1:hover {
    background: rgb(195, 236, 224);
    color: black;
}
window {
    background: rgb(50, 50, 50);
}
box#random_hier {
    background: rgb(233, 248, 176);
    color: black;
}
button#imd-btn {
    background: rgb(233, 248, 176);
    font-size: 50px;
    color: rgb(0, 0, 0);
}
button#imd-btn:hover {
    background: rgb(195, 236, 224);
    font-size: 50px;
    color: rgb(0, 0, 0);
}
label#labelf {
    font-size: 70px;
    color: rgb(255, 255, 255);
}